<script>

  /**
   * 根据输入的requestName查询requestItem记录
   * */
   $('#save_doc').click(function(){
     //var queryString="newLogin";
     var queryString=$('input#input_requestName').val();

     console.log(" test ... :queryString="+queryString);

    $.ajax({
       url: '/doc/findRequestItemByName',
       type:"Get",
       //data:"{'first':'蚂蚁部落','second':'欢迎您'}",
       //data:queryString,
       data:{
         requestName: queryString,
         //a: $('#a').val(),
         //b: $('#b').val()
       },
       success:function(data){
         //返回的数据用data.d获取内容
         //alert(data.d);
         $("textarea#textarea_response").val(JSON.stringify(data,null,"\t"));
       },
       error:function(err){
         //alert(err);
         $("textarea#textarea_response").val(JSON.stringify(err));
       }
     });

     console.log("execute done service (/doc/findRequestItemByName) via ajax... this should be seen on front...");

   });

   /**
    * 插入equestItem记录
    * */
  $('#test_insertrequestitem').click(function(){
    //var requestItem=JSON.parse($('textarea#textarea_requestItem').val());
    console.log("requestItem="+$('textarea#textarea_requestItem').val());
    var requestItemValue=$('textarea#textarea_requestItem').val();
    console.log(requestItemValue);
    var requestItem=JSON.parse(requestItemValue);
    console.log(requestItem);

    $.ajax({
      url: "/doc/insertRequestItemService",
      type: "Post",
      data: {
        req: requestItem
      },
      dataType: "urlencoded",
      contentType: 'application/x-www-form-urlencoded;charset=utf-8',
      success: function (data) {
        //返回的数据用data.d获取内容
        //alert(data.d);
        $("textarea#textarea_response").val(JSON.stringify(data,null,4));
      },
      error: function (err) {
        //alert(err);
        $("textarea#textarea_response").val(JSON.stringify(err));
      }
    });
    console.log("execute done service (/doc/insertRequestItemService) via ajax... this should be seen on front...");
  });

   $('#delete_reqItemTable').click(function(){
      $.ajax({
        url:"/doc/deleteAllReqItem",
        type:"Get",
        data:{},
        success:function(data){
          console.log(data);
          var retmsg={retcode:0,retdesc:"sucess",data:data};
          $("textarea#textarea_response").val(retmsg);
        },
        error:function(err){
          console.log(err);
          var retmsg={retcode:-1,retdesc:"error",data:data};
          $("textarea#textarea_response").val(JSON.stringify(retmsg,null,4));
        }
      });
   });
 </script>



<head>
  <meta charset="UTF-8">
  <title>在线编辑文档页面</title>
</head>
<body>
<!-- Page Heading -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      业务接口文档
    </h1>

    <ol class="breadcrumb">
      <li>
        <i class="fa fa-dashboard"></i>  测试环境
        <a href="index.html">192.168.103.101</a>
      </li>
      <li class="active">
        <i class="fa fa-edit"></i> 端口号
        <a href="index.html">具体接口端口号不同</a>
      </li>
    </ol>
  </div>
</div>
<!-- /.row -->

<div class="row">
  <div class="col-lg-6">

    <form role="form">
      <ol id="APIs">
        <li id="api_1">
          <i class="fa fa-edit" id="api_1_apiTitle">登录接口</i>
          <div >
            <label>接口名</label>
            <input id="api_1_apiTitleValue" class="form-control" />
          </div>
          <div class="form-group">
            <label>URL</label>
            <input class="form-control" placeholder="Enter text">
          </div>
          <div class="form-group">
            <label>输入完整的requestItem json格式的字符串内容:</label>
            <textarea id="textarea_requestItem" class="form-control" placeholder="Enter text" rows="25" >{
    "id":"6",
    "dev":"lidehong",
    "disabled":false,
    "name":"HOME6",
    "url":"http://192.168.103.101:8020/selftaught/home",
    "queryParam":{
        "req":""
    },
    "version":"1.0.0",
    "description":"test !!!",
    "method":"POST",
    "headers":{
        "module":"2",
        "clientType":"iOS",
        "version":"1.0.0",
        "clientIp":"127.0.0.1",
        "deviceId":"testDeviceId123456",
        "sessionToken":"token123"
    },
    "mode":"urlencoded",
    "response":""
}
            </textarea>
          </div>
        </li>
        <li id="api_2">
          <i class="fa fa-edit" id="home_api">首页接口</i>
          <div class="form-group">
            <label>接口名</label>
            <input class="form-control">
          </div>
          <div class="form-group">
            <label>URL</label>
            <input class="form-control" placeholder="Enter text" />
          </div>
        </li>
        <li id="template_api">
          <i class="fa fa-edit" id="apiTitle">首页接口</i>
          <div class="form-group">
            <label>接口名</label>
            <input class="form-control" id="apiTitle_value" />
          </div>
          <div class="form-group">
            <label>URL</label>
            <input class="form-control" placeholder="Enter text" id="apiURL_value" />
          </div>
        </li>
      </ol>
    </form>

  </div>


  <div class="row">
    <div class="col-lg-12">
      <div class="form-group">
        <label>输入指定RequestItem的name:</label>
        <input id="input_requestName" class="form-control">
      </div>
      <button id="save_doc" name="save_doc_btn" text="无样式">查询ReqItem</button>
      <div class="btn btn-default" type="button" id="test_insertrequestitem" name="test_insertdb"
      text="默认效果">添加ReqItem记录</div>
      <div id="delete_reqItemTable" class="btn btn-primary" text="主要效果">清空reqItem表</div>
      <fieldset disabled>
        <div class="btn btn-default">默认失效</div>
        <div class="btn btn-primary">主要失效</div>
      </fieldset>
    </div>
  </div>
</div>

<div width="1200px">
  <textarea id="textarea_response" class="form-control" placeholder="Enter text" rows="25"></textarea>
  </div>
