<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>自动测试框架</title>

    <% include common/framework-css.ejs %>
    <% include common/framework-js.ejs %>

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">自动测试框架</a>
            </div>
            <!-- Top Menu Items -->
          <ul class="nav navbar-right top-nav">
            <li class="dropdown">
              <a href="/loginOut" target="_parent" ><i class="fa fa-user"></i> 退出 </a>
            </li>
          </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav main-operation">
                    <li class="active">
                        <a href="javascript:void(0)" target="overview"><i class="fa fa-fw fa-dashboard"></i> 概览</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" target="doc"><i class="fa fa-fw fa-bar-chart-o"></i> 文档</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" target="case"><i class="fa fa-fw fa-table"></i> 用例</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" target="task"><i class="fa fa-fw fa-tasks"></i> 顺序用例</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" target="schedule"><i class="fa fa-fw fa-desktop"></i> 调度策略</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

          <% include overview/index.ejs %>

        </div>
        <div id="page-plugin">
          <% include plugin.ejs %>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <script src="/xd-autotest-framework/js/index/frame-main.js"></script>
</body>

</html>
