<html xmlns="http://www.w3.org/1999/html">
<head>
  <% include common/framework-css.ejs %>
  <% include common/framework-js.ejs %>
</head>

<body>

<div>
  <h1 disabled="disabled" style="width: 50%; background-color: #00A000;" > collection:</h1><h1 disabled="disabled" style="width: 50%; background-color: #00A000;" > response:</h1>
  <textarea disabled="disabled" style="margin-left: 0px; width: 50%; height: 600px; background-color: #cecc7e"> <%= JSON.parse(JSON.stringify(collection, null, 4)) %></textarea><textarea disabled="disabled" style="margin-left: 0px; width: 50%; height: 600px; background-color: #cecc7e"> <%= JSON.parse(JSON.stringify(data, null, 4)) %></textarea>

</div>

</body>
</html>
