<div id="page-wrapper-left" aria-hidden="false" class="right-operation" >

  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        <small>任务管理</small>
        <button class="btn btn-primary">添加任务</button>
        <button class="btn btn-primary">编辑任务</button>
        <button class="btn btn-info">查找任务</button>
        <button class="	btn btn-danger">删除任务</button>
      </h1>
      <ol class="breadcrumb">
        <li class="active">
          <i class="fa fa-table"></i> 任务列表
        </li>
      </ol>
    </div>

    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
              <thead>
              <tr>
                <th>任务</th>
                <th>creatTime</th>
                <th>上次测试时间</th>
                <th>包含用例个数</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>任务1</td>
                <td>10/21/2013</td>
                <td>3:29 PM</td>
                <td>33
                  <div style="float: right">
                    <button class="btn btn-primary" onclick="alert('编辑')">编辑</button>
                    <button class="btn btn-info" onclick="alert('查看')">查看</button>
                    <button class="btn btn-danger" onclick="alert('删除')">删除</button>
                  </div>
                </td>
              </tr>
              <tr>
                <td>任务1</td>
                <td>10/21/2013</td>
                <td>3:29 PM</td>
                <td>33
                  <div style="float: right">
                    <button class="btn btn-primary" onclick="alert('编辑')">编辑</button>
                    <button class="btn btn-info" onclick="alert('查看')">查看</button>
                    <button class="btn btn-danger" onclick="alert('删除')">删除</button>
                  </div>
                </td>
              </tr>
              <tr>
                <td>任务1</td>
                <td>10/21/2013</td>
                <td>3:29 PM</td>
                <td>33
                  <div style="float: right">
                    <button class="btn btn-primary" onclick="alert('编辑')">编辑</button>
                    <button class="btn btn-info" onclick="alert('查看')">查看</button>
                    <button class="btn btn-danger" onclick="alert('删除')">删除</button>
                  </div>
                </td>
              </tr>
              <tr>
                <td>任务1</td>
                <td>10/21/2013</td>
                <td>3:29 PM</td>
                <td>33
                  <div style="float: right">
                    <button class="btn btn-primary" onclick="alert('编辑')">编辑</button>
                    <button class="btn btn-info" onclick="alert('查看')">查看</button>
                    <button class="btn btn-danger" onclick="alert('删除')">删除</button>
                  </div>
                </td>
              </tr>
              <tr>
                <td>任务1</td>
                <td>10/21/2013</td>
                <td>3:29 PM</td>
                <td>33
                  <div style="float: right">
                    <button class="btn btn-primary" onclick="alert('编辑')">编辑</button>
                    <button class="btn btn-info" onclick="alert('查看')">查看</button>
                    <button class="btn btn-danger" onclick="alert('删除')">删除</button>
                  </div>
                </td>
              </tr>
              <tr>
                <td>任务1</td>
                <td>10/21/2013</td>
                <td>3:29 PM</td>
                <td>33
                  <div style="float: right">
                    <button class="btn btn-primary" onclick="alert('编辑')">编辑</button>
                    <button class="btn btn-info" onclick="alert('查看')">查看</button>
                    <button class="btn btn-danger" onclick="alert('删除')">删除</button>
                  </div>
                </td>
              </tr>
              <tr>
                <td>任务1</td>
                <td>10/21/2013</td>
                <td>3:29 PM</td>
                <td>33
                  <div style="float: right">
                    <button class="btn btn-primary" onclick="alert('编辑')">编辑</button>
                    <button class="btn btn-info" onclick="alert('查看')">查看</button>
                    <button class="btn btn-danger" onclick="alert('删除')">删除</button>
                  </div>
                </td>
              </tr>
              <tr>
                <td>任务1</td>
                <td>10/21/2013</td>
                <td>3:20 PM</td>
                <td>34</td>
              </tr>
              <tr>
                <td>任务1</td>
                <td>10/21/2013</td>
                <td>3:03 PM</td>
                <td>17</td>
              </tr>
              <tr>
                <td>任务1</td>
                <td>10/21/2013</td>
                <td>3:00 PM</td>
                <td>71</td>
              </tr>
              <tr>
                <td>任务1</td>
                <td>10/21/2013</td>
                <td>2:49 PM</td>
                <td>23</td>
              </tr>
              <tr>
                <td>任务1</td>
                <td>10/21/2013</td>
                <td>2:23 PM</td>
                <td>12</td>
              </tr>
              <tr>
                <td>任务1</td>
                <td>10/21/2013</td>
                <td>2:15 PM</td>
                <td>54</td>
              </tr>
              <tr>
                <td>任务1</td>
                <td>10/21/2013</td>
                <td>2:13 PM</td>
                <td>45</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="text-right">
            <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
