<h2 style="text-align: center">策略报告</h2>
 <div class="row">
    <div class="col-lg-12">
              <% if (data) { %>
              <% data.forEach(function(record,index){ %>
              <%-record.log_html%>
              <% }) %>
              <% } %>
      </div>
  </div>
</div>

